/*Estilos Generales*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

#login{
  background-color: #ece2c6;
}

#loginUser{
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: 0;
}

#loginUser2{
  position: absolute;
  bottom: -38vh;
  left: 0;
  right: 0;
  margin: 2vh;
}

#backindex{
  background-color: #ece2c6;
}

#index{
  position: absolute;
  top: 20vh;
  left: 3px;
  right: 3px;
}

#formi{
  left: 35vw;
  right: 35vw;
  position: absolute;
  padding: 4vh;
  background-color: #eee;
  border: 2px solid #eee;
  border-radius: 1vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
}

/*Campo Email y Password Respectivamente*/
input[type="text"], input[type="password"]{
  outline: none;
  padding: 2vh 1vw 2vh 1vw;
  display: block;
  width: 23vw;
  border-radius: 1vw;
  border: 1px solid #eee;
  margin: 20px auto;
}

/*El boton de Send*/
input[type="submit"]{
  padding: 2vh;
  color: #333;#eee;
  font-weight: 700;
  background: #ece2c6;
  width: 20vw;
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 1vw;
  cursor: pointer;
  margin-bottom: 1vh;
}
/*El boton de Send cuando se acerca el Cursor*/
input[type="submit"]:hover{
  background-color: #e8d195;
  transition: .5s;
}

select{
  outline: none;
  padding: 1.7vh;
  display: block;
  width: 22vw;
  border-radius: 1vw;
  border: 1px solid #eee;
  margin: 20px auto;
}

a{
  text-decoration: none;
  color: #333;
}

header {
  border-bottom: 2px solid #eee;
  padding-top: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #333;
}

h3, h2, h1{
  margin-top: 1vh;
  text-decoration: none;
  color: #333;
}

p{
  margin-bottom: 1vh;
  font-size: 1vw;
}
