::selection {
  background: #2D2F36;
}

body {
  background: #ddd7c7;
  margin: 0;
  padding: 5px;
}

.page {
  /*background: #e2e2e5;*/
  background-image: url("../../images/catedral.jpg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  position: absolute;
  place-content: center;
  width: calc(100% - 10px);
}

.container {
  transform: scale(1.05);
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}

.left {
  background: white;
  box-shadow: -5px 7px 30px 20px rgba(0, 0, 0, 0.35);
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
  border-radius: 5px 0px 0px 5px;
  /*top-left top-right bottom-right bottom-left*/
}

.left2 {
  background: white;
  box-shadow: -5px 7px 30px 20px rgba(0, 0, 0, 0.35);
  height: calc(100% - 40px);
  top: 20px;
  left: 5em;
  position: absolute;
  width: 75%;
  border-radius: 5px;
}

.logo {
  text-align: center;
  margin: 25px 40px 5px 35px;
}

.login {
  font-family: 'Lato', sans-serif;
  color: #7e7e7e;
  font-size: 27px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-style: normal;
  margin: 0px 40px 15px 35px;
}

.eula {
  font-family: 'Orbitron', sans-serif;
  color: #999;
  font-size: 11px;
  letter-spacing: 2px;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  margin: 5px 5px 5px 0px;
}

.formLogin {
  font-family: 'Orbitron', sans-serif;
  color: rgb(206, 206, 206);
  font-size: 11px;
  letter-spacing: 2px;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
  margin: 15px 5px 10px 0px;
}

.right {
  background: #474A59;
  box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.20);
  color: #F1F1F2;
  position: relative;
  width: 50%;
  border-radius: 0px 5px 5px 0px;
  /*top-left top-right bottom-right bottom-left*/
}

svg {
  position: absolute;
  width: 320px;
}

path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}

.form {
  margin: 40px;
  position: absolute;
}

label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: transparent;
  border: 0;
  color: rgb(206, 206, 206);
  font-size: 18.5px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
}

input::-moz-focus-inner {
  border: 0;
}

#submit {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 8px;
  color: #d0d0d2;
  margin-top: 40px;
  transition: color 300ms;
}

#submit:focus {
  color: #f2f2f2;
}

#submit:active {
  color: #d0d0d2;
}

.foot {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  z-index: 99;
  bottom: 0px;
  text-align: right;
}

.foot #textfoot {
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  margin: 2px 2px 2px 0px;
  display: inline-block;
  bottom: 10px;
  position: relative;
}

#separator {
  width: 1px;
  position: relative;
  background-color: #44752c;
  height: 25px;
  display: inline-block;
  margin: 7.5px 2px 2px 2px;
}

.foot #imagefoot {
  display: inline-block;
  margin-right: 15px;
  margin-left: 2px;
}

.foot #copy {
  font-family: 'Orbitron', sans-serif;
  font-size: 9px;
  letter-spacing: 1.5px;
  color: #fff;
  margin: 2px 2px 2px 0px;
  display: inline-block;
  bottom: 12px;
  left: 12px;
  position: absolute;
}